.article-div{

    border: 1px solid lightgrey;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);


}
.title{
    background: #404E5C;  /* fallback for old browsers */
    border-radius: 3px;
    color: #fff;
    padding: 5px;
}
.date-tag{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 3px;

}
.vl{
    border-left: 6px solid green;
  height: 10px;
}
.paragraph{
    color: rgb(59, 59, 59);
}
.image-thumbnail{
    height: auto;
    width: 100%;
    border-radius: 5px;
}

#article-img{
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}