.default-form{
    padding: 10px;
    background-color: rgb(31, 31, 31);
    border: 2px solid black;
}

.center-form{
    margin: auto;
    width: 300px;
}
.input-group-text{
    background-color: black;
}

.input-group-text i {
    color: #fff;
}

