.user-img{
   height: 250px;
   width: 250px;
}
.user-img:hover{
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    opacity: 0.8;
    cursor: pointer;
}

.image-upload>input {
    display: none;
  }