.edit-btn{
    background-color:  rgb(43, 43, 43);
    color:  #fff;
    font-weight: bold;
    border-radius: 3px;
    max-height: 50px;
}

.edit-btn:hover{
    background-color: rgb(54, 54, 54);
    text-decoration: none;
    color: #fff;
}